block content
    #container2
      button#submit(onclick="matchFunction()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter") Find your match!  
      div#exampleModalCenter(class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
          div(class="modal-dialog modal-dialog-centered" role="document")
              div(class="modal-content")
                  div(class="modal-header")
                      h5(class="modal-title" id="exampleModalLongTitle") You matched with...
                      button(type="button" class="close" data-dismiss="modal" aria-label="close")
                          span(aria-hidden="true") &times;
                  div(class="modal-body")
                      img#matchPic(src="" width="100%" height="100%")
                  div(class="modal-footer w-100")
                      p#matchName(class="text-left w-100" font-weight="bold")
                      button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
