block content

  h1 Welcome to the survey!
        
    h2 Input your name
      br
      input(type="text", value = "", name="name", required)
    h2 Put a link to your photo
      br
      input(type="file", accept="image/*" value = "", name="photo", required)
    h2 This is the first question
      br
      select(required, name="q1")
        option      
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the second question
      br
      select(required, name="q2")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the third question
      br
      select(required, name="q3")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the fourth question
      br
      select(required, name="q4")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the fifth question
      br
      select(required, name="q5")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the sixth question
      br
      select(required, name="q6")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the seventh question
      br
      select(required, name="q7")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the eigth question
      br
      select(required, name="q8")
        option
        option(value=1) Strongly Disagree
        option(value=2) Moderately Disagree
        option(value=3) Somewhere in the middle
        option(value=4) Moderately Agree
        option(value=5) Strongly Agree
    h2 This is the ninth question
        br
        select(required, name="q9")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
    h2 This is the tenth question
        br
        select(required, name="q10")
          option 
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree