block content
  h1 Welcome to the survey!
    form#friendForm(action="/api/friends", method="POST", name="friendForm")
      h2 Input your name
          br
          input(type="text", value = "test", name="name", required)
      h2 Put a link to your photo
          br
          input(type="text", value = "test", name="photo", required)
      h2 This is the first question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the second question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the third question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the fourth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the fifth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the sixth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the seventh question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the eigth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the ninth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      h2 This is the tenth question
          br
          select(required, name="scores")
              //- option
              option(value=1) Strongly Disagree
              option(value=2) Moderately Disagree
              option(value=3) Somewhere in the middle
              option(value=4) Moderately Agree
              option(value=5) Strongly Agree
      button#submit(type='submit' for="friendForm" formaction="/api/friends" formmethod="POST" onclick="handleFormSubmit(event)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter") Find your match!   
      div#exampleModalCenter(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
          div(class="modal-dialog modal-dialog-centered" role="document")
              div(class="modal-content")
                  div(class="modal-header")
                      h5(class="modal-title" id="exampleModalLongTitle") You matched with...
                      button(type="button" class="close" data-dismiss="modal" aria-label="close")
                          span(aria-hidden="true") &times;
                  div(class="modal-body")
                      img#matchPic(src="")
                  div(class="modal-footer w-100")
                      p#matchName(class="text-left w-100")
                      button(type="button" class="btn btn-secondary" data-dismiss="modal") Close