block content
  #container
    h1 Welcome to the survey!
          
      h2 Input your name
        br
        input(type="text", value = "", name="name", required)
      h2 Put a link to your photo
        br
        input(type="file", accept="image/*" value = "", name="photo", required)
      h2 You are strong
        br
        select(required, name="q1")
          option      
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You are fast
        br
        select(required, name="q2")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You are a quick thinker
        br
        select(required, name="q3")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You always know exactly what to say
        br
        select(required, name="q4")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 Having a few close friends is important to you
        br
        select(required, name="q5")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You do well under pressure
        br
        select(required, name="q6")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You can easily take something apart and put it back together
        br
        select(required, name="q7")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You can hold your breath for a long period of time
        br
        select(required, name="q8")
          option
          option(value=1) Strongly Disagree
          option(value=2) Moderately Disagree
          option(value=3) Somewhere in the middle
          option(value=4) Moderately Agree
          option(value=5) Strongly Agree
      h2 You live an active lifestyle
          br
          select(required, name="q9")
            option
            option(value=1) Strongly Disagree
            option(value=2) Moderately Disagree
            option(value=3) Somewhere in the middle
            option(value=4) Moderately Agree
            option(value=5) Strongly Agree
      h2 You always try to make others feel welcome
          br
          select(required, name="q10")
            option 
            option(value=1) Strongly Disagree
            option(value=2) Moderately Disagree
            option(value=3) Somewhere in the middle
            option(value=4) Moderately Agree
            option(value=5) Strongly Agree