doctype html
html(lang="en")
    head
        title Document
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js")
        
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")  
        style(type="text/css").
            #container {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            #container2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                pa
            }
            h2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 25%;
                margin: 10px auto;
                text-align: center;
            }
            h1 {
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
            button {
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

    body
        block content
