extends layout

block content
    h1 Welcome to the survey!
    form#friendForm(action="/api/friends", method="POST")
        h2 Input your name
            input(type="text", value = "test", name="name", required)
        h2 Put a link to your photo
            input(type="text", value = "test", name="photo", required)
        h2 This is the first question
            br
            select(required, name="score", type="number", step="1")
                //- option
<<<<<<< HEAD
                option(value="1", type="number") 1 - Strongly Disagree
                option(value="2") 2 - Moderately Disagree
                option(value="3") 3 - Somewhere in the middle
                option(value="4") 4 - Moderately Agree
                option(value="5") 5 - Strongly Agree
=======
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
>>>>>>> b00b97f5a83850e9cf62b84cd4bba6e4e3cba0fd
        h2 This is the second question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the third question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the fourth question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the fifth question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the sixth question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the seventh question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the eigth question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the ninth question
            br
            select(required, name="scores")
                //- option
                option(value=1) 1 - Strongly Disagree
                option(value=2) 2 - Moderately Disagree
                option(value=3) 3 - Somewhere in the middle
                option(value=4) 4 - Moderately Agree
                option(value=5) 5 - Strongly Agree
        h2 This is the tenth question
            br
            select(required, name="scores")
                //- option
                option(value="1") 1 - Strongly Disagree
                option(value="2") 2 - Moderately Disagree
                option(value="3") 3 - Somewhere in the middle
                option(value="4") 4 - Moderately Agree
                option(value="5") 5 - Strongly Agree
        button#submit(type='submit' ) Find your match!  
