extends layout
block content
    include includes/surveyQuestions
    include includes/modal
       script.
            function checkValidity(name, photo, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10) {
                console.log("check validity")
                if (!name || !photo || !q1 || !q2 || !q3 || !q4 || !q5 || !q6 || !q7 || !q8 || !q9 || !q10) {
                    alert("Fill out all the fields!")
                    return false
                }
                return true
                
            }
            function matchFunction(e) {
                var submit = document.getElementById("submit");
                
                var q1 = document.getElementsByName("q1")[0].value;
                var q2 = document.getElementsByName("q2")[0].value;
                var q3 = document.getElementsByName("q3")[0].value;
                var q4 = document.getElementsByName("q4")[0].value;
                var q5 = document.getElementsByName("q5")[0].value;
                var q6 = document.getElementsByName("q6")[0].value;
                var q7 = document.getElementsByName("q7")[0].value;
                var q8 = document.getElementsByName("q8")[0].value;
                var q9 = document.getElementsByName("q9")[0].value;
                var q10 = document.getElementsByName("q10")[0].value;
                var name = document.getElementsByName("name")[0].value;
                var photo = document.getElementsByName("photo")[0].value;
                var modal = document.getElementById("exampleModalCenter");
                if (!checkValidity(name, photo, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10)) {
                    console.log("failed validation")
                    //avoids bootstraps auto toggle for modal; can't use with fade
                    $("#exampleModalCenter").modal("show");
                    
                    return
                }
                console.log("passed validation")


                
                fetch("/api/friends", {
                    method: "POST",
                    body: JSON.stringify({
                        name: name,
                        photo: photo,
                        scores: [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]
                    }),
                    headers: {
                        "Content-Type": "application/json",

                            }
                })
                .then(function(res) {
                    return res.json()
                })
                .then(function(res) {
                    console.log('Success:', JSON.stringify(res.photo))
                    document.getElementById("matchPic").src = res.photo
                    document.getElementById("matchName").innerText = res.name
                    
                })
                .catch(function(error) {
                    console.log(error);
                })
            }              
